In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
import nltk

In [7]:
from nltk.corpus import stopwords

In [8]:
yelp= pd.read_csv('yelp.csv')

In [9]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [10]:
yelp.shape

(10000, 10)

In [11]:
yelp.describe()

              stars          cool        useful         funny
count  10000.000000  10000.000000  10000.000000  10000.000000
mean       3.777500      0.876800      1.409300      0.701300
std        1.214636      2.067861      2.336647      1.907942
min        1.000000      0.000000      0.000000      0.000000
25%        3.000000      0.000000      0.000000      0.000000
50%        4.000000      0.000000      1.000000      0.000000
75%        5.000000      1.000000      2.000000      1.000000
max        5.000000     77.000000     76.000000     57.000000

In [12]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
business_id    10000 non-null object
date           10000 non-null object
review_id      10000 non-null object
stars          10000 non-null int64
text           10000 non-null object
type           10000 non-null object
user_id        10000 non-null object
cool           10000 non-null int64
useful         10000 non-null int64
funny          10000 non-null int64
dtypes: int64(4), object(6)
memory usage: 781.3+ KB

In [13]:
yelp['textlength']= yelp['text'].apply(len)

In [14]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,textlength
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,889
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,1345
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,76
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,419
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,469

In [15]:
import seaborn as sns

ImportError: No module named seaborn

In [16]:
stars = yelp.groupby('stars').mean()

In [18]:
stars.corr()
#text length coorelation with reviews

                cool    useful     funny  textlength
cool        1.000000 -0.743329 -0.944939   -0.857651
useful     -0.743329  1.000000  0.894506    0.699895
funny      -0.944939  0.894506  1.000000    0.843463
textlength -0.857651  0.699895  0.843463    1.000000

In [25]:
yelp_extreme= yelp[(yelp['stars']==1) |(yelp['stars']==5)]
#making another table taking the groundtruth as extreme values of ratings will result in exteme text reviews ( rating =1 =>poor text review. rating=5 => great text review)

In [24]:
yelp_extreme.describe()

             stars         cool       useful        funny   textlength
count  4086.000000  4086.000000  4086.000000  4086.000000  4086.000000
mean      4.266765     0.876897     1.422663     0.690651   661.953989
std       1.547868     2.336611     2.598515     1.961751   601.642399
min       1.000000     0.000000     0.000000     0.000000     6.000000
25%       5.000000     0.000000     0.000000     0.000000   256.000000
50%       5.000000     0.000000     1.000000     0.000000   489.500000
75%       5.000000     1.000000     2.000000     1.000000   878.000000
max       5.000000    77.000000    76.000000    39.000000  4988.000000

In [27]:
yelp_extreme.shape

(4086, 11)

In [28]:
x=yelp_extreme['text']
y= yelp_extreme['stars']

In [53]:
x[0]

'My wife took me here on my birthday for breakfast and it was excellent.  The weather was perfect which made sitting outside overlooking their grounds an absolute pleasure.  Our waitress was excellent and our food arrived quickly on the semi-busy Saturday morning.  It looked like the place fills up pretty quickly so the earlier you get here the better.\n\nDo yourself a favor and get their Bloody Mary.  It was phenomenal and simply the best I\'ve ever had.  I\'m pretty sure they only use ingredients from their garden and blend them fresh when you order it.  It was amazing.\n\nWhile EVERYTHING on the menu looks excellent, I had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious.  It came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete.  It was the best "toast" I\'ve ever had.\n\nAnyway, I can\'t wait to go back!'

In [30]:
import string
def text_process(text):
    '''
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Return the cleaned text as a list of words
    '''
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [32]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/home/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [33]:
sample_text = "Hey there! This is a sample review, which happens to contain punctuations."
print(text_process(sample_text))

['Hey', 'sample', 'review', 'happens', 'contain', 'punctuations']

In [34]:
print(text_process(x[0]))

['wife', 'took', 'birthday', 'breakfast', 'excellent', 'weather', 'perfect', 'made', 'sitting', 'outside', 'overlooking', 'grounds', 'absolute', 'pleasure', 'waitress', 'excellent', 'food', 'arrived', 'quickly', 'semibusy', 'Saturday', 'morning', 'looked', 'like', 'place', 'fills', 'pretty', 'quickly', 'earlier', 'get', 'better', 'favor', 'get', 'Bloody', 'Mary', 'phenomenal', 'simply', 'best', 'Ive', 'ever', 'Im', 'pretty', 'sure', 'use', 'ingredients', 'garden', 'blend', 'fresh', 'order', 'amazing', 'EVERYTHING', 'menu', 'looks', 'excellent', 'white', 'truffle', 'scrambled', 'eggs', 'vegetable', 'skillet', 'tasty', 'delicious', 'came', '2', 'pieces', 'griddled', 'bread', 'amazing', 'absolutely', 'made', 'meal', 'complete', 'best', 'toast', 'Ive', 'ever', 'Anyway', 'cant', 'wait', 'go', 'back']

In [72]:
#transformer = CountVectorizer(analyzer=text_process).fit(x)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:12: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  if sys.path[0] == '':

In [70]:
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
transformer = CountVectorizer(analyzer=text_process).fit(x)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:12: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  if sys.path[0] == '':

In [44]:
len(transform.vocabulary_)

26435

In [65]:
sample=x[10]

In [67]:
sam=transformer.transform([sample])

In [68]:
print sam

  (0, 3648)	1
  (0, 4054)	1
  (0, 6224)	1
  (0, 10051)	1
  (0, 11366)	1
  (0, 12212)	1
  (0, 12214)	2
  (0, 12452)	4
  (0, 13934)	1
  (0, 14741)	1
  (0, 16589)	3
  (0, 17969)	1
  (0, 18130)	1
  (0, 18241)	1
  (0, 19372)	1
  (0, 19702)	1
  (0, 20090)	1
  (0, 22080)	1
  (0, 23024)	1
  (0, 23648)	1
  (0, 23919)	1
  (0, 24043)	1
  (0, 24046)	1

In [83]:
print(transformer.get_feature_names()[23043])
print(transformer.get_feature_names()[26433])

snubbed
Ã©clairs

In [77]:
x=transformer.transform(x)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:12: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  if sys.path[0] == '':

In [79]:
x.shape

(4086, 26435)

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=101)

In [87]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [88]:
preds = nb.predict(X_test)

In [89]:
print preds

[5 1 5 ... 5 5 5]

In [90]:
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, preds))
print('\n')

[[157  71]
 [ 24 974]]

In [91]:
print(classification_report(y_test, preds))

             precision    recall  f1-score   support

          1       0.87      0.69      0.77       228
          5       0.93      0.98      0.95       998

avg / total       0.92      0.92      0.92      1226